<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="file" accept="image/*" id="photo" />
    <button onclick="photoSubmit()">Submit</button>
    <h1 id="message"></h1>
    <div>
      <% photos.forEach(function(p){%>
        <img src="<%= p.photoUrl %>" width="50" alt="">
      <%}) %>
    </div>
    <script src="/javascripts/main.js"></script>
  
</body>
</html>